<a href="https://colab.research.google.com/github/Akshayakrishna262/mlapplications/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
def add(a,b):
 return a+b
res = add(20,50)
print(res)

70

In [9]:
result = lambda x,y:x+y
print(result(10,20))

30

In [10]:
result = lambda x,y:x*y
print(result(10,20))

200

In [11]:
#iterator
lst =[1,2,3,4,5,6]
iterate_var = iter(lst)
print(iterate_var)

<list_iterator object at 0x7a6870b846a0>

In [12]:
type(iterate_var)

list_iterator

In [13]:
## We can iterate
for i in iterate_var:
  if i % 2 ==0:
    print(i)
## By using iter keyword check for numbers is>5 then
##add the 1 value and print the number

2
4
6

In [14]:
lst =[6,7,8,9,5]
iterate_var = iter(lst)
for number in iterate_var:
  if number > 5:
    number +=1
    print(number)

7
8
9
10

In [15]:
def square(i):
  for i in range(i):
    i=i**2
  return i
res=square(4)
print(res)

9

In [16]:
#Generator
def add(i):
  for i in range(i):
    i=i+2
    yield i
    #return n
add(10)
for i in add(10):
  print(i)

2
3
4
5
6
7
8
9
10
11

In [17]:
#Generator
def add(i):
  for i in range(i):
    i=i**2
    yield i
    #return n
add(10)
for i in add(10):
  print(i)

0
1
4
9
16
25
36
49
64
81

In [18]:
#Decorators
def sample(item):
  item = item.upper()
def low(item):
  item = item+1

result = sample

print(result("hello"))

None