<a href="https://colab.research.google.com/github/Akshayakrishna262/mlapplications/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
screen_time =[2,4,6]
sleep_hours = [3,7,8]
stu_name =["John","sathya","haswika"]
dict1 = {
    "screen_time":screen_time,
    "sleep_hours":sleep_hours,
    "stu_name":stu_name
}
print(dict1)
df = pd.DataFrame(dict1)
print(df)

{'screen_time': [2, 4, 6], 'sleep_hours': [3, 7, 8], 'stu_name': ['John', 'sathya', 'haswika']}
   screen_time  sleep_hours stu_name
0            2            3     John
1            4            7   sathya
2            6            8  haswika

In [2]:
#list = [1,2,3,4,5]
res = [i for i in range(1,20)]
print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
#list comprehension
list = [1,2,3,4,5,6,7,8,9]
res= [i for i in list if i % 2==0]
print("even numbers",res)

even numbers [2, 4, 6, 8]

In [4]:
words = ["LOWER","W","PYTHON"]
lower = [i.lower() for i in words]
print(lower)

['lower', 'w', 'python']

In [5]:
keys = ["name","age","city"]
values = ["jas","19","sitzerland"]
#list = [i for i in list]
dictionary = {k:v for k,v in zip(keys,values)}
print(dictionary)

{'name': 'jas', 'age': '19', 'city': 'sitzerland'}

In [6]:
import math
numbers = [1,4,9,16,25]
sq = tuple(math.sqrt(i) for i in numbers)
print(sq)
#square_roots = tuple(math.sqrt(num) for num in numbers)
#print(square_roots)

(1.0, 2.0, 3.0, 4.0, 5.0)

In [7]:
products = [
    {"name":"laptop","price":1000},
    {"name":"Mobile","price":500},
    {"name":"Tablet","price":300}
]
affordable_products = [product for product in products if product["price"]<500]
print(affordable_products)

[{'name': 'Tablet', 'price': 300}]